<% provide(:title, 'Dock Queue') %>
<% provide(:icon_class, 'fas fa-list-ol') %>
<% if @show_new %>
  <%= provide(:new_link, new_dock_request_path) %>
<% end %>


<% if @show_dock_group_selector %>
  <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-sm-auto">
          <%= simple_form_for :dock_request, :url => dock_requests_path, :method => :get do |f| %>
            <%= f.input :dock_group_id, required: false, :collection => @dock_groups, :label_method => :description, :value_method => :id, input_html: { id: "dock_group_select", onchange: "this.form.submit();" }, wrapper_html: { class: 'mb-0' } %>
          <% end %>
        </div>
      </div>
  </div>

  <script type="text/javascript">
    <% if !@current_dock_group.nil? %>
      $("#dock_group_select").val(<%= @current_dock_group.id %>);
    <% end %>
  </script>
<% end %>

<div class="container-fluid mt-3">
  <div id="dock-requests-queue" class="row">
    <%= render @dock_requests %>
  </div>
</div>
