<div class="jumbotron text-center mb-0">
  <div class="container-fluid">
    <h1 class="display-4"><%= t "home.jumbo.welcome" %></h1>
    <p class="lead"><%= t "home.jumbo.lead" %></p>
    <hr class="my-4">
    <p class="lead">
      <% unless logged_in? %>
        <%= link_to t("actions.log_in"),
                    login_path,
                    class: "btn btn-primary btn-lg"
        %>
      <% else %>
        <%= current_user.company.name %>
      <% end %>
    </p>
  </div>
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% cards.each do |card| %>
        <%= render partial: "card", locals: { card: card } %>
      <% end %>
    </div>
  </div>
</div>
