<%= simple_form_for @user, remote:true, :html => { :id => form_type +'-form' } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :company_id, :collection => Company.all.order(:name), :label_method => :name, :value_method => :id if current_user.app_admin %>
      <%= f.input :first_name, as: :string if logged_in_admin? %>
      <%= f.input :last_name, as: :string if logged_in_admin? %>
      <%= f.input :email, as: :string %>
      <%= f.input :send_email, as: :boolean, label: 'Send email with login instructions' if logged_in_admin?  && form_type == 'create' %>
      <%= f.input :username, as: :string if logged_in_admin? %>
      <%= f.hint 'lowercase, numbers, and underscore only with no spaces' %>
      <% if form_type == 'update' %>
        <div class="my-3">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Update Password
          </button>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
      <% end %>
              <%= f.input :password %>
              <%= f.hint User.password_requirements %>
              <%= f.input :password_confirmation, required: true %>
      <% if form_type == 'update' %>
              <%= f.input :send_email, as: :boolean, label: 'Send email with new password' if logged_in_admin? && not_self?(@user) %>
            </div>
          </div>
        </div>
      <% end %>
      <%= f.input :company_admin, label: 'Admin' if logged_in_admin? && not_self?(@user) %>
    </div>
    <% if form_type == 'update' && logged_in_admin? && not_self?(@user) %>
      <div class="mb-2">
        <%= f.input :enabled, wrapper: :switch %>
      </div>
    <% end %>
<% end %>
