<%= simple_form_for @user, remote:true, :html => { :id => form_type +'-form' } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <% show_to_admin = current_user.company_admin %>
      <% not_self = !(@user == current_user) %>
      <%= f.input :company_id, :collection => Company.all.order(:name), :label_method => :name, :value_method => :id if current_user.app_admin %>
      <%= f.input :first_name, as: :string if show_to_admin %>
      <%= f.input :last_name, as: :string if show_to_admin %>
      <%= f.input :email, as: :string %>
      <%= f.input :username, as: :string if show_to_admin %>
      <%= f.hint 'lowercase, numbers, and underscore only with no spaces' %>
      <% if form_type == 'update' %>
        <div class="my-3">
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Update Password
          </button>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
      <% end %>
              <%= f.input :password %>
              <%= f.hint '8-64 characters with at least one of each (uppercase, lowercase, number, special)' %>
              <%= f.input :password_confirmation, required: true %>
      <% if form_type == 'update' %>
            </div>
          </div>
        </div>
      <% end %>
      <%= f.input :company_admin, label: 'Admin' if show_to_admin && not_self %>
    </div>
    <% if form_type == 'update' && show_to_admin && not_self %>
      <div class="mb-2">
        <%= f.input :enabled, wrapper: :switch %>
      </div>
    <% end %>
<% end %>
