<% width = 3 %>

<div class="container">
  <div class="row">
    <%= render 'shared/show_field', { :label => 'Company', :value => @user.company.name, :label_col => width } if current_user.app_admin %>
    <%= render 'shared/show_field', { :label => 'Username', :value => @user.username, :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Name', :value => @user.full_name, :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Email', :value => @user.email, :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Admin', :value => human_boolean(@user.company_admin), :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Enabled', :value => human_boolean(@user.enabled), :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Created', :value => local_time(@user.created_at), :label_col => width } %>
    <%= render 'shared/show_field', { :label => 'Updated', :value => local_time(@user.updated_at), :label_col => width } %>
  </div>
</div>
