
<tr id="user_<%= user.id %>">
  <th scope="row">
    <%= link_to 'Edit', edit_user_path(user), :remote => true, :'data-toggle' =>  "modal", :'data-target' => '#update-modal', :class => 'btn btn-primary btn-sm m-1'  %>
    <%= link_to 'Become', become_user_path(id: user.id), :class => 'btn btn-primary btn-sm m-1' if app_admin?%>
  </th>
  <td>
    <%= link_to user.username, user_path(user),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#show-modal' }  %>
  </td>
  <% if app_admin? %>
    <td><%= user.company.name %></td>
  <% end %>
  <td>
    <%= user.enabled_yes_no? %>
  </td>
</tr>
