<% provide(:title, 'Update Password') %>
<% provide(:icon_class, 'fas fa-key') %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 mt-3">
          <h5 class="text-center font-weight-light">You must update your password before you can use Mulder WMS.</h5>
          <%= simple_form_for @user, :url => { :action => "update_password_commit" } do |f| %>
            <%= f.input :password %>
            <%= f.hint User.password_requirements %>
            <%= f.input :password_confirmation, required: true %>
            <div class="text-center mb-3">
              <%= f.button :submit, "Update Password",  class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
