<% provide(:title, t_nf("auth/password_update.title.self")) %>
<% provide(:icon_class, 'fas fa-key') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 mt-3">
      <h5 class="text-center font-weight-light"><%= t_nf("auth/password_reset.msg") %></h5>
      <%= simple_form_for form do |f| %>
        <%= f.input :password %>
        <%= f.input :password_confirmation, required: true %>
        <div class="text-center mb-3">
          <%= f.button :submit, t_nf("auth/password_update.title.self"),
            class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
