<%= simple_form_for modal.form, remote: true,
:html => { :id => modal.form.html_id } do |f| %>
  <div id="feedback">
    <%= errors_for(f.object) %>
  </div>
  <div class="mb-3">
    <%= f.input :name, required: true %>
    <%= f.input :company_type, :collection => company_types,
      required: true, prompt: true %>
    <%= f.input :legitimate, sf_switch %>
  </div>
  <% if modal.role?(:edit_update) %>
    <div class="mb-2">
      <%= f.input :enabled, sf_switch %>
    </div>
  <% end %>
<% end %>
