<div id="<%= form_type %>-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= title %> Company</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body disable-input">
        <% if %w(show update create).include?(form_type) %>
          <%= render 'show_update_form', { :form_type => form_type } %>
        <% else %>
          Are you sure you want to delete this company?  This action is irreversible.
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Close</button>
        <% if %w(update create).include?(form_type) %>
          <button type="submit" form="<%= form_type %>-form" class="btn btn-primary save">Save</button>
        <% end %>
        <% if form_type == 'destroy' %>
          <%= link_to 'Delete', @company,  method: :delete, remote: true, class: 'btn btn-danger'  %>
        <% end %>
      </div>

    </div>
  </div>
</div>
