<%= simple_form_for modal.form, remote:true, :html => { :id => modal.form.html_id } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :description, as: :string, required: true %>
      <% if modal.role?(:edit_update) %>
        <div class="mb-2">
          <%= f.input :enabled, sf_switch %>
        </div>
      <% end %>
      <%= f.input :everything, sf_switch %>
      <div class="individual_permissions ml-4">
        <%= permission(f, :dock_queue, model_plur(DockQueue::DockRequest)) %>
        <div class="dock_queue_sub_permissions ml-4">
          <%= permission(f, :dock_groups, model_plur(DockGroup)) %>
          <%= permission(f, :docks, model_plur(Dock)) %>
        </div>
        <%= permission(f, :order_order_groups, model_plur(Order::OrderGroup)) %>
        <%= permission(f, :shipper_profiles, model_plur(ShipperProfile)) %>
      </div>
    </div>
<% end %>

<script type="text/javascript">
  hideShowEverythingPermissions();
  hideShowDockQueuePermissions();
  $('#access_policy_everything').change(hideShowEverythingPermissions);
  $('#access_policy_dock_queue').change(hideShowDockQueuePermissions);
</script>
