<div id="<%= modal.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t_nf modal.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if modal.form? %>
          <%= render modal.form.view_path,
            { :modal => modal } %>
        <% elsif modal.role?(:destroy) %>
          <%= t_nf("modal.destroy.chicken_message", :to_delete=> modal.form.to_delete) %>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if modal.footer.show_timestamps? %>
          <%= render modal.timestamps_path, modal: modal %>
        <% end %>
        <% if modal.footer.buttons.include? :close %>
          <%= btn(Button::ModalCloseButton.new) %>
        <% end %>
        <% if modal.footer.buttons.include? :save %>
          <%= btn(Button::ModalSaveButton.new(form: modal.form.html_id)) %>
        <% end %>
        <% if modal.footer.buttons.include? :delete %>
          <%= btn_link(Button::ModalDeleteButton.new, record: modal.form.record) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
