<div id="<%= modal.id %>" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class= <%= modal.header_class %>>
        <h5 class= <%= modal.title_class %>><%= t_nf modal.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class= <%= modal.body_class %>>
        <% if modal.form? %>
          <%= render modal.form.view_path,
            { :modal => modal } %>
        <% elsif modal.role?(:destroy) %>
          <%= t_nf("modal.destroy.chicken_message", :to_delete=> modal.form.to_delete) %>
        <% end %>
      </div>
      <div class= <%= modal.footer_class %>>
        <% if modal.footer.show_timestamps? %>
          <%= render modal.timestamps_path, modal: modal %>
        <% end %>
        <% modal.footer.buttons_with_margin.each do |button| %>
          <%= btn(button) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
