<%= simple_form_for modal.form, remote:true,
        :html => { :id => modal.form.html_id } do |f| %>
    <% if not_self?(modal.form.record) %>
      <h5>
        <small class="text-muted">
          <%= t_nf("auth/password_update.reset_msg",
            :user=> modal.form.record.full_name_username) %>
        </small>
      </h5>
    <% end %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :password %>
      <%= f.input :password_confirmation, required: true %>
      <% if not_self?(modal.form.record) %>
        <%= f.input :email %>
        <%= f.input :send_email, as: :boolean %>
      <% end %>
    </div>
<% end %>
