<%= simple_form_for modal.form, remote:true,
        :html => { :id => modal.form.html_id } do |f| %>
    <% if not_self?(modal.form.record) %>
      <h5>
        <small class="text-muted">
          You are resetting password for
          <%= modal.form.record.full_name_username %>
        </small>
      </h5>
    <% end %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :password, label: t_nf("auth/users.security.password") %>
      <%= f.hint t_nf("auth/users.hints.password") %>
      <%= f.input :password_confirmation,
          label: t_nf("auth/users.security.password_confirm"),
          required: true %>
      <% if not_self?(modal.form.record) %>
        <%= f.input :email,
            label: t_nf("auth/users.communication.email")%>
        <%= f.input :send_email, as: :boolean,
            label: t_nf("auth/users.communication.send_email_password")%>
      <% end %>
    </div>
<% end %>
