<%= simple_form_for modal.form, remote:true,
        :html => { :id => modal.form.html_id } do |f| %>
    <% if not_self?(modal.form.record) %>
      <h5>
        <small class="text-muted">
          You are resetting password for
          <%= modal.form.record.full_name_username %>
        </small>
      </h5>
    <% end %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :password, label: t_nf("simple_form.labels.auth_user.password") %>
      <%= f.hint t_nf("simple_form.hints.auth_user.password") %>
      <%= f.input :password_confirmation,
          label: t_nf("simple_form.labels.auth_user.password_confirmation"),
          required: true %>
      <% if not_self?(modal.form.record) %>
        <%= f.input :email, label: t_nf("simple_form.labels.auth_user.email")%>
        <%= f.input :send_email, as: :boolean %>
      <% end %>
    </div>
<% end %>
