<div id="<%= table.row_id(record) %>" class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
  <div class="card text-white bg-secondary mb-3 mx-auto" style="max-width: 18rem;">
    <div class="card-header">
      <%= record.primary_reference %>
    </div>
    <div class="card-body">
      <% if record.status_checked_in? %>
        <h4 class="card-title"><%= record.status_human_readable %></h4>
        <%= checked_in_time(record) %>
      <% elsif record.status_dock_assigned? %>
        <h4 class="card-title"><%= dock_number(record) %></h4>
        <p><%= local_time_ago(record.dock_assigned_at) %></p>
        <h5><%= record.human_attribute_name("status.checked_in") %></h5>
        <%= checked_in_time(record) %>
      <% end %>
      <p class="card-text"><%= record.note %></p>
    </div>
    <div class="card-footer">
      <div class="container-fluid">
        <div class="row mb-2">
          <%= card_column_btns(table, record) %>
        </div>
        <%= status_change_btns(table, record)%>
      </div>
    </div>
  </div>
</div>
