<%= simple_form_for modal_form.record, remote:true, :html => { :id => modal_form.form_id } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :number, label: t_nf("global.number"), as: :string %>
      <%= f.input :dock_group_id, label: t_nf("dock_groups.dock_group"),
        :collection => @dock_groups, :label_method => :description,
        :value_method => :id %>
      <% if modal_form.type_co.update? %>
        <div class="mb-2">
          <%= f.input :enabled,
            label: t_nf("simple_form.labels.defaults.enabled"),
            wrapper: :switch %>
        </div>
      <% end %>
    </div>
<% end %>
