<%= simple_form_for modal.form, remote:true, :html => { :id => modal.form.html_id } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :ref, as: :string %>
      <%= f.input :name, as: :string %>
      <%= f.input :address_1, as: :string %>
      <%= f.input :address_2, as: :string %>
      <%= f.input :city, as: :string %>
      <%= f.input :state, :collection => HashUtil.to_select(Geography.states_for_country("US")), prompt: true %>
      <%= f.input :postal_code, as: :string %>
      <%= f.input :country, :collection => HashUtil.to_select(Geography::COUNTRIES), selected: 1 %>
      <% if modal.role?(:edit_update) %>
        <div class="mb-2">
          <%= f.input :enabled, sf_switch %>
        </div>
      <% end %>
    </div>
<% end %>
