<%= simple_form_for modal.form, remote:true, :html => { :id => modal.form.html_id } do |f| %>
    <div id="feedback">
      <%= errors_for(f.object) %>
    </div>
    <div class="mb-3">
      <%= f.input :ref, as: :string, required: true %>
      <%= f.input :name, as: :string, required: true %>
      <%= f.input :address_1, as: :string, required: true %>
      <%= f.input :address_2, as: :string %>
      <%= f.input :city, as: :string, required: true %>
      <%= f.input :state, :collection => states(f),
                          prompt: true,
                          required: true %>
      <%= f.input :postal_code, as: :string, required: true %>
      <%= f.input :country, :collection => countries,
                            selected: selected_country(f),
                            prompt: true,
                            required: true %>
      <% if modal.role?(:edit_update) %>
        <div class="mb-2">
          <%= f.input :enabled, sf_switch %>
        </div>
      <% end %>
    </div>
<% end %>
