<% navbar = Navbar::MainNavbar.new %>
<nav class="<%= navbar.navbar_class %>" id="<%= navbar.id %>">
  <div class="container-fluid">
    <%= link_to t("global.app_name").upcase, root_path, class: "navbar-brand" %>
    <% if logged_in? %>
      <%= btn(navbar.log_out_button) %>
      <%= navbar_toggler(navbar) %>
      <% unless needs_password_reset? %>
        <div class="collapse navbar-collapse" id="<%= navbar.toggler_id %>">
          <ul class="navbar-nav">
            <%= build_navigation(navbar) %>
          </ul>
          <div class="navbar-nav ml-auto">
            <%= link_to current_user.username,
                edit_auth_user_path(current_user),
                :remote => true,
                :class => "nav-item nav-link mr-4"
            %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>
