<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/bootstrap_meta_tags' %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/font_awesome_cdn' %>
  </head>
  <body class="d-flex flex-column h-100">
    <%= render 'layouts/navbar' %>
    <main class="flex-shrink-0">
      <%= render 'layouts/header' if content_for? :title %>
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
      <%= render 'layouts/modal_wrapper' %>
      <%= render 'layouts/alert_wrapper' %>
    </main>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/debug' %>
  </body>
</html>
